@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition: 180ms ease-in-out;
}

.fade-enter {
  opacity: 0;
  transform: scale(.98);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: var(--transition);
}
